<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_33_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,27}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{35,1},{30,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_33_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{64,1},{28,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_33_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{13,8}</string>
                <key>textureRect</key>
                <string>{{133,25},{5,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{108,19},{10,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_33_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{123,18},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{105,1},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,13}</string>
                <key>spriteSourceSize</key>
                <string>{5,13}</string>
                <key>textureRect</key>
                <string>{{128,1},{5,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{4,8}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{135,1},{4,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,15}</string>
                <key>spriteSourceSize</key>
                <string>{7,15}</string>
                <key>textureRect</key>
                <string>{{119,1},{7,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{91,20},{15,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{13,7}</string>
                <key>textureRect</key>
                <string>{{133,16},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_33_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,12}</string>
                <key>spriteSourceSize</key>
                <string>{17,12}</string>
                <key>textureRect</key>
                <string>{{91,1},{17,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/robot_33.png</string>
            <key>size</key>
            <string>{141,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc14314a9e3d82db5773b3df1fdc8962:5c5f7df5ea13bdb1eb801bff763e387c:ceda96703257a8c7b48a2cba38922eaf$</string>
            <key>textureFileName</key>
            <string>icons/robot_33.png</string>
        </dict>
    </dict>
</plist>
