<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_31_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,31}</string>
                <key>spriteSourceSize</key>
                <string>{34,31}</string>
                <key>textureRect</key>
                <string>{{1,36},{34,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_01_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{31,28}</string>
                <key>textureRect</key>
                <string>{{1,69},{31,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_01_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,7}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{48,59},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_01_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,16}</string>
                <key>spriteSourceSize</key>
                <string>{9,16}</string>
                <key>textureRect</key>
                <string>{{37,49},{9,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,14}</string>
                <key>spriteSourceSize</key>
                <string>{7,14}</string>
                <key>textureRect</key>
                <string>{{45,83},{7,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{39,1},{11,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{37,37},{10,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_03_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,18}</string>
                <key>spriteSourceSize</key>
                <string>{8,18}</string>
                <key>textureRect</key>
                <string>{{39,14},{8,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,21}</string>
                <key>spriteSourceSize</key>
                <string>{12,21}</string>
                <key>textureRect</key>
                <string>{{34,69},{12,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,9}</string>
                <key>textureRect</key>
                <string>{{34,83},{14,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spider_31_04_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,8}</string>
                <key>textureRect</key>
                <string>{{48,49},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_31_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{39,24},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/spider_31.png</string>
            <key>size</key>
            <string>{58,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae88b49338d757789170727e3f417900:ce97853371cfd001179560282f7c022c:f41041d8a4739811f56b9b5a7c0bfd51$</string>
            <key>textureFileName</key>
            <string>icons/spider_31.png</string>
        </dict>
    </dict>
</plist>
